@media  screen and (max-width: 500px) {

  #navbar{
    margin: 0 auto;
    padding: 5rem 2rem;
    width: 80vw;
  }

  .navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
  }

  .link{
    padding: 1rem;
    
  }

  input{
    width: 80vw;
    height: 30px;
    padding: 0.5rem;
    border:none;
    color:black;
    font-size: 15px;
    position: static;
    margin: 0 auto;

}

.navbar-items h1{
  position: static;
 
}

.flex-input{
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  margin: 0 auto;
}

.alert{
  position: static;
  
}


#structure{
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}
    
.right-links{
display: none;
}

.single-movie-container{
  width: 60vw;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}

.single-img{
  width: 300px;
  height: 500px;
}

.back-movie-link{
  margin: 1rem 1rem;

}




}