@media  screen and (max-width: 500px) {




    .section-center {
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows:minmax(100px,auto) ;
        max-width: 70vw;
        margin: 0 auto;
        grid-gap:2rem;
        width: 80vw;
        /* grid-template-columns: 1fr 1fr; */
      }
      
    
    
      .category-btn{
        color:#c59d5f;
        margin: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        border:none;
        cursor: pointer;
        background-color: #F1F5F8;
        margin: 1rem 0.5rem;
        transition: all 0.5s;
        border-radius: 3px;
      }
      
    
    
    
    
      }