#navbar{
    margin: 0 auto;
    padding: 7rem 5rem;
    width: 80vw;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
}

input{
    width: 30vw;
    height: 40px;
    padding: 0.5rem;
    border:none;
    position: relative;
    right: 70px;
    border-radius: 5px;
    font-size: 23px;
}
h1{
    position: relative;
    right: 70px;
    margin-bottom: 1rem;
    font-size: 30px;
}
.link{
    padding: 2rem;
    
}
.right-links{
    margin-top: 2.5rem;
}
.alert{
    color:red;
    letter-spacing: 0;
    position: relative;
    right: 70px;
    margin-top: 1rem;
    
}


/*************************************************/


#structure{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}

img{
    width: 260px;
    height: 400px;
}



/*************************************************/

.single-movie-container{
    width: 80vw;
    margin: 3rem auto;
    display: flex;
    
}

.right-area{
    margin-left: 2rem;

    
}
.single-img{
    width: 380px;
    height: 560px;
}

.text{
    font-weight: 900;
    padding: 1rem;
}
.text-title{
    font-weight: 800;
    font-size: xx-large;
    letter-spacing: 1px;
}

.back-movie-link{
      display: inline-block;
      background-color: #60A5FA;
      color:white;
      letter-spacing: 1px;
      padding: 0.3rem 0.7rem;
      border-radius: 5px;
      margin: 3rem 1rem;

}


/****************************************************************/

.movie {
    position: relative;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .movie img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
  }
  .movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: all 0.3s linear;
  }
  .movie-info h4 {
    color: white;
    margin-bottom: 0.25rem;
  }
 
  .movie:hover .movie-info {
    transform: translateY(0);
  }

  /****************************************************************/
  #about{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      flex-direction: column;
      position: relative;
      bottom: 60px;
     
  }
  #about h4{
    margin: 1rem;
    font-weight: 400;
  }
  #about img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    /* filter: drop-shadow(2px 4px 8px #585858); */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
    cursor: pointer;
    transition: 0.5s all;
    
}
#about img:hover{
    transform: translateY(-5px);
}