#navbar{
    margin: 0 auto;
    padding: 7rem 5rem;
    width: 80vw;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
}

input{
    width: 30vw;
    height: 40px;
    padding: 0.5rem;
    border:none;
    position: relative;
    right: 70px;
    border-radius: 5px;
    /* font-size: medium; */
}
h1{
    position: relative;
    right: 70px;
    margin-bottom: 1rem;
    font-size: 30px;
}
.link{
    padding: 2rem;
    
}
.right-links{
    margin-top: 2.5rem;
}
.alert{
    color:red;
    letter-spacing: 0;
    
}


/*************************************************/


#structure{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}

img{
    width: 260px;
    height: 400px;
}



/*************************************************/

.single-movie-container{
    width: 80vw;
    margin: 3rem auto;
    display: flex;
    
}

.right-area{
    margin-left: 2rem;

    
}
.single-img{
    width: 380px;
    height: 560px;
}

.text{
    font-weight: 900;
    padding: 1rem;
}
.text-title{
    font-weight: 800;
    font-size: xx-large;
    letter-spacing: 1px;
}

.back-movie-link{
      display: inline-block;
      background-color: #60A5FA;
      color:white;
      letter-spacing: 1px;
      padding: 0.3rem 0.7rem;
      border-radius: 5px;
      margin: 3rem 1rem;

}



